<!-- your html code here -->
<div class="container">
        <hr>
                <div class="row">

                    <div class="col-md-8">
                       <h3>This First heading <span class="text-secondary">Will catch Your Eye</span></h3>
                        <P class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ducimus, sunt. Minima magnam corrupti quam aliquam tempore eum consectetur, necessitatibus, vero aspernatur illo unde error quisquam, ex magni esse est aperiam harum id culpa qui minus earum soluta delectus. Eius eaque, molestiae est.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 50%;" src="https://af49cffa-b3fa-47d1-ae8e-c3381b7496aa.ws-us0.gitpod.io/mini-browser/workspace/collaborative-xi/website1/assets/img/1.jpg">
                    </div>
                </div>

    </div>


    <div class="container">
        <hr>
                <div class="row flex-row-reverse">

                    <div class="col-md-8">
                       <h3>The Second heading  <span class="text-secondary">Is pretty cool too</span></h3>
                        <P class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ducimus, sunt. Minima magnam corrupti quam aliquam tempore eum consectetur, necessitatibus, vero aspernatur illo unde error quisquam, ex magni esse est aperiam harum id culpa qui minus earum soluta delectus. Eius eaque, molestiae est.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 50%;" src="https://af49cffa-b3fa-47d1-ae8e-c3381b7496aa.ws-us0.gitpod.io/mini-browser/workspace/collaborative-xi/website1/assets/img/2.jpg">
                    </div>
                </div>
        <hr>
    </div>