<!-- your html code here -->

        <hr class="mt-5">
            <div class="row flex-row-reverse mt-5">

                    <div class="col-md-8">
                       <h3>The Second heading  <span class="text-secondary">Is pretty cool too</span></h3>
                        <P style="font-size:1.2rem;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ducimus, sunt. Minima magnam corrupti quam aliquam tempore eum consectetur, necessitatibus, vero aspernatur illo unde error quisquam, ex magni esse est aperiam harum id culpa qui minus earum soluta delectus. Eius eaque, molestiae est.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img style="width: 100%; border-radius: 50%;" src="/website1/assets/img/2.jpg">
                    </div>
                </div>
        <hr>
