<!-- your html code here -->
    <div class="jumbotron1 jumbotron-fluid text-center img-fluid" style="height: 600px;" alt = "Responsive Image">
        <div class="container col-md-12 col-lg-12 col-sm-12 p-0">
            <div class="row mr-0">
                <div class="column col-md-12 col-lg-12 col-sm-12 col-12 p-0">

                    <h1 class="tittle display-3 text-dark"><b>One Page Wonder</b></h1>
                    <p class="subtittle lead"><b>Will Knock Your Socks Off<b></p>
                </div>
            </div>
        </div>
    </div>